@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.meraki_image{
    width: 100%;
    /* height: 700px; */
    padding: 2em 2em;
}
.meraki_image, .meraki_content{
    width: 50%;
}
.meraki_content{
    padding-left:3.5rem;
    padding-right: 3.5rem;
    padding-bottom:8%;
}
.meraki_content h1{
    margin-top: 50px;
    margin-bottom: 40px;
}
.hindi_font{
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    padding-top:20px;
    color: cornflowerblue;
}
.web-h6{
margin-top:30px;
    display:inline;
}
.web-link{
    color:cornflowerblue;
    font-size:25px;
    font-weight:bold;
    text-decoration:none;
}
.teaser{
    height: 550px;
    
}
.teaser h2{
    padding-top: 40px;
    padding-bottom: -20px;
}
.teaser video{
    height: 420px;
    margin-left: 50vw;
    transform: translate(-50%,5%); 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
    /* background-image: url("img/mask1"); */
}
.participate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part_img{
    height: 200px;
}
.part1_img{
    padding-bottom: 25px;
    height: 125px;
    padding-left: 80px;
    /* padding-right: 25px; */
}
.kalopsia_samples{
    text-align: center;
    column-gap: 4rem;
}
.kalopsia_samples img{
    padding: 2rem;
}
.rules1, .rules2{
    width: 50%;
    height: 600px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: url(img/mask4.png);
    background-repeat:no-repeat;
    background-position: center;    
}

.meraki_image{
    background: url(img/Kalopsia Poster (1) 1.png) no-repeat;
    background-image: url("img/Kalopsia Poster (1) 1.png");
  background-size: cover;
}
.rules1{
    color:#ffffff;
    background-color:  #000000;
}
.color_change{
    background: #C4C4C4;
    margin-top: unset;
}

.rules1 h2 ,.rules2 h2{
    margin-top: 30px;
    margin-bottom: 45px;
}
.rules2 li{
    margin-left: 15px;
}

.registor img{
    margin:auto;
    /* padding-left: 515px; */
}

.spon{
   color: rgb(76 70 70 / 77%);
    padding-top: 42px;
    font-family: Poppins;
font-style: normal;
font-weight: bold;
}

.text{
    color: rgba(0, 0, 0, 0.53);
}
.text2{
    color: rgba(0, 0, 0, 0.53);
}
@media screen and (max-width: 1000px){
    .meraki_image, .meraki_content{
        width: 100%;
    }
    .rules1, .rules2{
        width: 100%;
        height: 550px;}
    .meraki_content, .meraki_image{
        height: 700px;
    }
    .teaser{
        height: 500px;}
    .teaser video{
        height: 325px;}
    .rules2{
        padding-top:5%;
    }
    #rules{
        display:none;
    }
    .registor img{
        margin:auto;
        /* padding-left: 338px; */
    }
    .meraki_image{
        width: 50%;
        /* height: 700px; */
        padding: 2em 2em;
    }
}
@media screen and (max-width: 640px){
    .part_img{
        height: 150px;
    }
    .part1_img{
        height: 100px;
    }
    .teaser{
        height: 400px;}
    .teaser video{
        height: 250px;}
        .rules1, .rules2{
            height: auto;}
    .meraki_content{
        height:750px;
    }
    .registor img{
        margin:auto;
        /* padding-left: 156px; */
    }
}
@media screen and (max-width: 500px){
    .teaser video{
        height: 200px;}
        .teaser{
            height: 320px;}
            .rules1, .rules2{
                /* height: 700px;} */}
        .meraki_content{
            height:625px;}
            .meraki_content{
                padding-left:1.5rem;
                padding-right: 1.5rem;
            }
            .meraki_image{
                height: 515px;
            }
            .registor img{
                margin:auto;
             
            }
            .kalopsia_samples img{
                width: 80%;
            }
}
@media screen and (max-width: 410px){
.teaser video{
    height: 160px;
padding: 0.5em;}
    .teaser{
        height: 300px;}
        .part_img{
            height: 120px;
        }
        .part1_img{
            height: 80px;
        }
    .rules1, .rules2{
            height: auto;
            padding-left: 1rem;
            padding-right: 1rem;}
        }
        .registor img{
            margin:auto;
            padding-left: 40px;
        }
        .meraki_content{
            /* font-size: small;
            height: 00px; */
        }
        @media screen and (max-width: 400px){
            .meraki_content{
                height:750px;
            }
    
                }
