.navbar{
    
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 0px;

}

.navbar .navbar-nav .nav-link {
color: #f2f2f2;
font-size: 1.1em;
font-weight: 600;
margin-left:1rem;
}



.links{
color: #f2f2f2;
}
.l{
margin-right: 0;
}

.cl{
margin-right: 2em;
}
.ct{
position: relative;

}

.dropdown-toggle::after {
content:none;
}
.logo {
margin-left: 1em;
height: 2.5em;
} 

.cr{
margin-left:1em;
margin-right:2em;
}

.sm-icons {
flex-direction: row;
}
html,body{
  font-family: poppins,sans-serif;
  margin:0;
  padding:0;
  overflow-x:hidden;
  width: 100%;
    height: 100%;
}

.col {
  float: left;
  height: 600px;
}

.col{
  font-weight: 600;
}

.eve-right{
  width: 50%;
  /* padding:8% 9% 5% 8%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* .eve-left {
  width: 50%;
  background: url(img/89069128_863250980814368_1061437620255162424_n\ 2.png);
  background-size: 100% 100%;
} */

/* .eve-left img{
  width:100%;
  height:466px;
} */

 .eve-right{
   background-color: black;
   color: #FFFFFF;
   padding: 0;
 }
.heading{
  width: 60%;
  padding-right: 26%;
/* font-family: Ralway;
font-style: normal;
font-weight: bold;
font-size: 33.9px;
color: #000000; */
}
.para{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
color: white;
padding: 0.5% 10%;
text-align: justify;
}
.dates{
font-family:'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 23px;
color: white;
text-align: justify;
padding: 0.5%;
padding-left: 10%;
}
.heading1{
font-family: Ralway;
font-style: normal;
font-weight: bold;
font-size: 34px;
color: black;
display: flex;
text-align: center;
justify-content: center;
margin-bottom: 0px;
    margin-top: 25px;
}
.para1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding-left: 5%;
  padding-right: 5%;
  /* padding-top: 2%; */
  color: #000000;

}
.dates1{
font-family:'Mulish', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 23px;
color: #FFFFFF;
}

.eve-left1{
width: 50%;
padding:5% 9% 5% 5%;
background-color: white;
color: #000000;
padding: 0%;
float: right;
}

/* .eve-right1 {
width: 50%;
background: url(img/DSC_5904.JPG);
background-size: 100% 100%;
} */
/* .eve-right2 {
width: 50%;
background: url(img/66178697_922401408097690_5786587258798000397_n\ 1.png);
background-size: 100% 100%;
} */
.eve-right3{
width: 50%;
background: url(img/bird_2.png);
background-size: 100% 100%;
float: left;
}
/* .eve-right4{
width: 50%;
background: url(img/PSX_20200412_201520-01.jpeg);
background-size: 100% 100%;
} */
/* .eve-left2{
width: 50%;
  background: url(img/IMG_20190827_164821\ 1.png);
  background-size: 100% 100%;
} */

/* .eve-left3{
width: 50%;
  background: url(img/28154674_2014453665480012_1463851706335887360_n\ 1.png);
  background-size: 100% 100%;
} */
.eve-left4{
width: 50%;
  background: url(img/pixshala.png);
  background-size: 100% 100%;
  float: right;
}
/* .eve-left5{
width: 50%;
  background: url(img/WhatsApp\ Image\ 2021-06-03\ at\ 6.04.28\ PM\ \(1\).jpeg);
  background-size: 100% 100%;
} */
/* .eve-right1 img{
width:100%;
height:466px;
} */
@media only screen and (max-width: 540px){
.eve-row{
    padding-left:0;
    padding-top: 0;
    text-align: left;
    margin-bottom: 1rem;
    margin-right:0;
}

.heading1{
  font-size: 20px;
}
.para1{
    font-size: 8px ; 
    line-height: 18px;
}
.col{
    width:100%;
    height:480px;
}
.graf{
  height:525px;
}

}

@media only screen and (max-width: 375px){
  .graf{
    height:550px;
  }
}

.footer{
  background: #C4C4C4;
  padding-left:4%;
  padding-right: 0;
  font-family: 'Mulish', sans-serif;
}
.footer_logo{
  width:9rem;
  height:5rem;
  display: block;
  margin-bottom: 20px;
}
.column4 {
  float: left;
  padding-top:3%;
}

/* Clear floats after the columns */
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.locate div{
  font-weight: 700;
  font-size: 14px;
  padding-left: 20px;
}

.form-cont{
  margin-top:4rem;
}
.home-social-contact{
  text-decoration: none;
}
.home-social-icon-contact{
  text-decoration: none;
  color: #fff;
  font-size:1.5rem;
  margin-bottom:1.5rem;
  margin-left: 1rem;
}
.locate p{
  font-size: 13px;
  font-weight: 600;
  padding-left: 20px;
  padding-bottom: 20px;
  width:60%;
}
.locate{
  flex:40%;
}
.discover,.recent-events,.foru{
  padding-top: 5%;
  flex:20%;
  margin-right:8rem;
}
.discover span,.recent-events span,.foru span{
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 10px;
  
}
.discover ul,.recent-events ul,.foru ul{
  list-style-type: none;
  font-size: 14px;
  font-weight: 600;
  margin:0;
  padding:0;
  margin-bottom: 30px;
}
.discover a,.recent-events a,.foru a{
  text-decoration: none;
  color: black;
}
.discover li,.recent-events li,.foru li{
  padding:10px 5px 5px 0;
}
.home-social-footer{
  text-decoration: none;
}
.home-social-icon-footer{
  text-decoration: none;
  color: black;
  font-size:1.5rem;
  margin-bottom:1.5rem;
  margin-left:1rem;
}

.home-social a{
  float:left;
  padding-left:1px;
  padding-right:0;
}
#insta{
  margin-left: 0;
}

.column3 {
  float: left;
  height: 600px;
}

.left-contact {
  flex: 50%;
  background:url(img/martix.png);
  background-size:cover;
}
.right-form{
  flex: 50%;
  background:url(img/contact.png);
  background-size: 100% 100%;
}
.form-contact{
  flex: 50%;
  padding:5% 8% 7% 5%;
  background: #2B2929;
}
.right-contact {
  flex: 50%;
  padding:6% 8% 5% 5%;
  background: #2B2929;

}

/* @media only screen and (max-width: 1024px)
{
  .event-button{
    max-width: 17%;
    position: absolute;
    top: 349px;
    z-index: 2;
    left: 104px;
  }
  .event-button2{
    max-width: 16%;
    position: absolute;
    top: 353px;
    z-index: 2;
    left: 270px;
  }
} */
@media only screen and (max-width: 960px) {
    .column1,.column,.column2,.column4,.column3{
      width: 100%;
    }
    .column,.column3,.middle,.achieve{
      height:500px;
    }
    .archives,.milestones{
      height:600px;
    }
  
    .rules{
        display:none;
    }
    
    
   
    .achieve,.middle{
      padding:18% 5% 9% 7%;
    }
    .upcoming,.pic{
      height:600px;
    }
    
    .left{
  padding:7% 9% 5% 5%;
}
 .event-button{
  max-width: 14%;
    position: absolute;
    top: 160px;
    z-index: 2;
    left: 225px;
}
/*
.event-button2{
  max-width: 13%;
    position: absolute;
    top: 331px;
    z-index: 2;
    left: 262px;
} */
  
  

  @media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
      padding-right: 1em;
    }
  }
  
  @media only screen and (max-width: 960px) {
    .discover,.recent-events,.foru,.locate{
      padding-left:0;
      padding-top: 0;
      text-align: center;
      margin-bottom: 1rem;
      margin-right:0;
    }
    .footer{
      padding-left:0px;
    }
   .footer_logo{
     margin-left: auto;
     margin-right: auto;
    }
    .locate p,.locate div{
      margin-left: auto;
     margin-right: auto;
     padding-left:0;
     padding-bottom: 10px;
    }
.recent-events ul,.foru ul{
    margin-bottom: 0;
  }
  .discover,.recent-events,.foru{
    margin-left:0;
    margin-right: 0;
  }
  .left-contact,.right-contact{
    width: 100%;
  }
  .right-form,.left-contact{
    width: 100%;
    padding:50%;
  }
  .form-contact,.right-contact{
    padding:9% 8% 0 5%;
  }
  .form-cont{
    margin-top:1.5rem;
  }
  }

  @media only screen and (max-width: 960px) {
    .flex-container {
      flex-direction: column;
    }
    .flex-item-right,.sponsorship-image{
      padding:50%;
    }
      
    /* .meraki-main-image,.event-main-image{
/*   display:none; */

.meraki-button{
  display:none;
}

.meraki-mobile,.event-mobile{
  display:inline;
  max-width:100%;
}

      .sponsor-image img{
        
        margin-top: 150px;
  
      }
  }
  @media only screen and (max-width: 640px) {
     .event-button {
      max-width: 14%;
      position: absolute;
      top: 132px;
      z-index: 2;
      left: 165px;
    } 

/* .event-button2 {
  max-width: 14%;
  position: absolute;
  top: 132px;
  z-index: 2;
  left: 200px
} */
.event-button3{
  max-width: 35%;
  position: absolute;
  top: auto;
  z-index: 2;
  left: 90px;

}
  }
  @media only screen and (max-width: 566px) {
    .event-button {
      max-width: 15%;
      position: absolute;
      top: 69px;
      top: 122px;
      z-index: 2;
      left: 130px;
    }
    /*
    .event-button2 {
      max-width: 14%;
    position: absolute;
    top: 69px;
    top: 122px;
    z-index: 2;
    left: 165px;
    } */
    .event-button3{
      max-width: 35%;
    position: absolute;
    top: -20px;
    z-index: 2;
    left: 70px;
    }
  }
  @media only screen and (max-width: 526px) {
    .event-button {
      max-width: 15%;
      position: absolute;
      top: 69px;
      top: 110px;
      z-index: 2;
      left: 128px;
    } 
    /* .event-button2 {
      max-width: 15%;
      position: absolute;
      top: 69px;
      top: 110px;
      z-index: 2;
      left: 160px
    } */
  }
  @media only screen and (max-width: 478px) {
   .event-button {
      max-width: 15%;
      position: absolute;
      /* top: 69px; */
       top: 117px;
      z-index: 2;
      left: 95px;
  } 
    
    /* .event-button2 {
      max-width: 15%;
      position: absolute;
      /* top: 69px; */
      /* top: 118px;
      z-index: 2;
      left: 117px
    } */ 
    .event-button3 {
      max-width: 35%;
      position: absolute;
      top: 10px;
      z-index: 2;
      left: 45px;
  }
  }
     @media only screen and (max-width: 400px) {
        .event-button {
          max-width: 15%;
          position: absolute;
          top: 95px;
          z-index: 2;
          left: 90px; 
        }
        /*.event-button2 {
          max-width: 15%;
          position: absolute;
          top: 69px;
          top: 105px;
          z-index: 2;
          left: 109px;
        }
        */
      }
      @media only screen and (max-width: 350px) {
        .event-button {
          max-width: 15%;
          position: absolute;
          /* top: 69px; */
           top: 85px;
          z-index: 2;
          left: 81px; 
        } 
        /* .event-button2 {
          max-width: 14.4%;
          position: absolute;
          /* top: 69px; */
          /* top: 86px;
          z-index: 2;
          left: 104px;
        } */
       
      }
     
    }

